
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Red de petri</title>
</head>
<body>

    <button class="cybr-btn">
        Cyber<span>_</span>
        <span class="cybr-btn__glitch">Cyber_</span>
    </button>
    <button class="cybr-btn">
        2077<span>_</span>
        <span class="cybr-btn__glitch">2077</span>
    </button>
</body>
</html>
</style>
<link href="static/css/styles.css" rel="stylesheet" type="text/css" />
